.about {
  min-height: 59.2rem;
  background-color: $grey-light;
  background-image: url('./../img/players.png');
  background-repeat: no-repeat;

  @media (max-width: $phone) {
    background-image: none;
  }

  &__flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .row {

    @media (max-width: $phone) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__container {
    position: relative;
    border: 1px solid lightblue;
    width: 100%;
  }

  &__informer {
    position: absolute;
    top: 10.9rem;
    left: 0;
    z-index: 2;

    @media (max-width: $phone) {
      top: 7rem;
    }
  }

  &__small-video {
    position: absolute;
    top: 29.6rem;
    left: 10.6rem;
    z-index: 1;

    @media (max-width: $phone) {
      top: 19.827rem;
      left: 15vw;
    }

    &:focus {
      z-index: 10;
      outline: none;
      border: 1px solid red;
    }
  }
}