.about {
  min-height: 59.2rem;
  background-color: $grey-light;
  background-image: url('./../img/players.png');
  background-repeat: no-repeat;
  background-size: auto 59.2rem;

  @media (max-width: $phone) {
    background-image: none;
    min-height: 38.8rem;
  }

  &__flex {
    padding-top: 10.9rem; 
    display: flex;
    justify-content: center;
    align-items: flex-start;

    @media (max-width: $tab-port) {
      padding-top: 7rem;
    }
    @media (max-width: $phone) {
      padding-top: 4.05rem; // 5.4 - 1.35 = 4.05
      padding-bottom: .85rem; // 2.2 - 1.35 = 0.85 
    }
  }

  & .row {

    @media (max-width: $phone) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__container {
    position: relative;
    width: 100%;
    min-height: 40rem;

    @media (max-width: $phone) {
      background-image: url('./../img/players-m.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__informer {
    position: absolute;
    top: 10.9rem;
    left: 0;
    z-index: 2;

    @media (max-width: $tab-port) {
      top: 7rem;
      left: 47%;
      transform: translateX(-50%);
    }
  }

  &__small-video {
    position: absolute;
    top: 29.6rem;
    left: 10.6rem;
    z-index: 1;

    @media (max-width: $tab-port) {
      top: 19.827rem;
      left: 52%;
      transform: translateX(-50%);
    }

    &:focus {
      z-index: 10;
      outline: none;
      border: 1px solid red;
    }
  }
}