.get-started {
  min-height: 71.6rem;
  background-color: $grey-light;
  overflow: hidden;

  @media (max-width: $phone) {
    min-height: 30rem;
  }

  &__article {
    margin-top: 20.3499rem; // 21.7 - 1.35 = 20.3499
    width: 47.5rem;

    @media (max-width: $tab-port) {
      margin-top: 15rem;
      width: 38rem;
    }

    @media (max-width: $phone) {
      margin-top: 4.9rem;
      width: 100%;
    }
  }

  &__container {
    width: 55.5rem;
    position: relative;
    height: 71.6rem;
    transform: translateX(4rem);

    @media (max-width: $tab-port) {
      height: 60rem;
      width: 35rem;
    }

    @media (max-width: $phone) {
      left: 50%;
      border: 3px solid lightblue;
      transform: translateX(-50%);
    }

    & .get-started__mobile-phone {
      position: absolute;
      top: 10.4rem;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 10;

      @media (max-width: $tab-port) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    & .get-started__ellipse {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;

      &-1 {
        width: 40rem;
        height: 40rem;
      }

      &-2 {
        width: 60rem;
        height: 60rem;
      }

      &-3 {
        opacity: .2;
        width: 80rem;
        height: 80rem;
        border: 1px solid $color-main;
        border-radius: 50%;
      }
      &-4 {
        opacity: .2;
        width: 100rem;
        height: 100rem;
        border: 1px solid $color-main;
        border-radius: 50%;
      }
      &-5 {
        opacity: .1;
        width: 120rem;
        height: 120rem;
        border: 1px solid $color-main;
        border-radius: 50%;
      }
      &-6 {
        opacity: .1;
        width: 140rem;
        height: 140rem;
        border: 1px solid $color-main;
        border-radius: 50%;
      }
      &-7 {
        opacity: .1;
        width: 160rem;
        height: 160rem;
        border: 1px solid $color-main;
        border-radius: 50%;
      }
      &-8 {
        opacity: .1;
        width: 180rem;
        height: 180rem;
        border: 1px solid $color-main;
        border-radius: 50%;
      }
      &-9 {
        opacity: .1;
        width: 200rem;
        height: 200rem;
        border: 1px solid $color-main;
        border-radius: 50%;
      }
    }

    &__informer-rounded-1 {
      position: absolute;
      top: 14.5rem;
      left: 11rem;
      z-index: 10;

      @media (max-width: $tab-port) {
        top: 8rem;
        left: 4rem;
      }
    }
    &__informer-rounded-2 {
      position: absolute;
      top: 45rem;
      left: 36rem;
      z-index: 10;

      @media (max-width: $tab-port) {
        top: 42rem;
        left: 24rem;
      }
    }

    & .get-started__small-circle {
      width: 3rem;
      height: 3rem;
      background-color: $grey-light;
      border-radius: 50px;
      box-shadow: 0px 3.13793px 15.6897px rgba(0, 0, 0, 0.25),
      0px 2.51034px 6.27586px rgba(51, 51, 51, 0.1);
      position: absolute;
      top: 50.5rem;
      left: 1rem;
      z-index: 10;

      @media (max-width:$tab-land) {
        display: none;
      }

      &::after {
        content:'';
        display: block;
        width: 1.4rem;
        height: 1.4rem;
        background-color: $color-main;
        border-radius: 14px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}