.get-up {
  min-height: 48.3rem;
  background: url('./../img/bg-phones-2.png') no-repeat;
  background-size: 66.6rem 48.3rem;
  overflow: hidden;

  @media (max-width: $tab-land) {
    background: url('./../img/bg-phones-2.png') no-repeat;
    background-size: cover;
  }
  @media (max-width: $phone) {
    min-height: 3.7rem;
    background: none;
  }

  &__bg-layer { /* слой, чтобы сделать фоновую картинку полупрозрачной для небольших экранов */
    background: transparent;

    @media (max-width: $tab-land) {
      background: rgba(252, 252, 252, 0.8);
    }
  }

  &__article {
    margin-top: 6.45rem;
    width: 100%;

    @media (max-width: $tab-port) {
      margin-top: 3.45rem;
    }

    @media (max-width: $phone) {
      margin: 0 auto;
      & h3 {
        margin-top: 1rem;
      }
    }
  }

  &__store-buttons {
    margin-top: 3.8rem;

    @media (max-width: $tab-port) {
      margin: 3.8rem auto;
      width: 100%;
    }
  }

  &__box--mobile {
    position: relative;
    width: 100%;
    height: 23rem;

    &::before {
      display: block;
      position: absolute;
      content: '';
      width: 100vw;
      height: 23rem;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      background: left top / contain no-repeat url('./../img/bg-phones-2.png');
      // background-size: contain;
      // background-repeat: no-repeat;
    }
  }
}