.get-up {
  min-height: 48.3rem;
  background: url('./../img/bg-phones-2.png') no-repeat;

  &__article {
    margin-top: 6.45rem;
  }

  &__store-buttons {
    margin-top: 3.8rem;

    @media (max-width: $tab-port) {
      margin: 3.8rem auto;
      width: 100%;
    }
  }
}