.header {
  position: relative;
  min-height: 66.8rem;
  background-color: $color-bg-second;
  background-image: url('./../img/bg-phones.png');
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-size: 65%;
  overflow: hidden;

  @media (max-width: $phone) {
    background-image: none;
  }

  &__logo {
    color: $color-second;
    margin-top: 6.1rem;

    @media (max-width: $tab-port) {
      margin-top: 3.2rem;
    }
    @media (max-width: $phone) {
      margin: 3.2rem auto;
    }
  }

  &__slogan {
    line-height: 4.8rem;
    font-size: $font-size--bigger;
    letter-spacing: 0.03em;
    margin-top: 13.3rem;
    font-weight: bold;

    @media (max-width: $tab-port) {
      margin-top: 8.6rem;
      font-size: 3rem;
    }
    @media (max-width: $phone) {
      line-height: 4rem;
      text-align: center;
    }
  }

  &__p {
    margin-top: 3rem;
    font-size: 1.8rem;
    line-height: 2.6rem;

    @media (max-width: $phone) {
      font-size: 1.6rem;
      text-align: center;
      line-height: 2.3rem;
    }
  }

  &__store-buttons {
    margin: 5rem 0;
  }
}