.tv {
  min-height: 27.8rem;
  background-color: $color-bg-third;

  &__h3 {
    font-weight: bold;
    line-height: 3.7rem;
    font-size: 2.8rem;
    color: $grey-darken;
    text-align: center;
    margin: 5.1rem auto 5.8rem;
  }

  &__row {
    width: 100%;
    min-height: 5.8rem;
    margin: 0 auto 6.8rem;
    font-size: 0;
    line-height: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @media (max-width: $tab-port) {
      flex-wrap: wrap;
      margin: 0 auto 3.7rem;
    }
    @media (max-width: $phone) {
      justify-content: center; 
    }
  }

  &__img-holder {
    display: inline-block;
    min-height: 5.8rem;
    min-width: 4.8rem;
    max-width: 21rem; 
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    @media (max-width: $tab-port) {
      margin-bottom: 3.3rem;
    }
    @media (max-width: $phone) {
      margin-right: 0;
  
      &--1 {
        min-width: 50%;
        max-width: 50%;
        &:not(:last-child) {
          margin-right: 0;
        }
        &:first-child {
          justify-content: flex-start;
        }

        &:nth-child(2) {
          justify-content: flex-end;
        }
        & img {
          width: 50%;
        }
      }

      &--2 {
        min-width: 33.3333%;
        max-width: 33.3333%;
        &:not(:last-child) {
          margin-right: 0;;
        }
        &:nth-child(3) {
          justify-content: flex-start;
        }
        &:nth-child(5) {
          justify-content: flex-end;
        }
        & img {
          width: 50%;
        }
      }

      &--3 {
        min-width: 100%;
        max-width: 100%;
        &:not(:last-child) {
          margin-right: 0;
        }
        & img {
          width: 50%;
        }
      }
    }
  }
}