*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // This defines what 1rem is

  // @media (max-width: $phone) {
  //   font-size: 50%;
  // }
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  background-color: $color-bg;
}

.container {
  display: block;
  width: 100%;
  min-height: 12.7rem;
  max-width: 144rem; // 1440px / 10 = 180
  margin: 0 auto;
  border: 1px solid red;
}

.responsive-padding {
  padding: 0 $space;

  @media (max-width: $tab-land) {
    padding: 0 $space-medium;
  }

  @media (max-width: $tab-port) {
    padding: 0 $space-small;
  }
}

.hide-mobile {
  display: block;

  @media (max-width: $phone) {
    display: none;
  }
}