body {
  font-family: $font-family--main;
  font-size: 1.6rem;
}

h2 {
  color: $color-main;
  text-transform: uppercase;
  font-size: $font-size;
  line-height: 2.1rem;
}

h3 {
  color: $grey-darken;
  line-height: 3.2rem;
  text-transform: capitalize;
}

p {
  color: $grey;
  line-height: 2.3rem;
  margin-top: 2.3rem;
}

a:link,
a:visited {
  font-family: $font-family--main;
  font-weight: bold;
  line-height: 2.1rem;
  font-size: 1.6rem;
  color: $color-main;
  text-decoration: none;
}

::selection {
  background-color: $color-main;
  color: $grey-light;
}