.responsive-padding {
  padding: 0 $space;

  @media (max-width: $tab-land) {
    padding: 0 $space-medium;
  }

  @media (max-width: $tab-port) {
    padding: 0 $space-small;
  }
}

.hide-mobile {
  display: block;

  @media (max-width: $phone) {
    display: none;
  }
}

.show-mobile {
  display: none;

  @media (max-width: $phone) {
    display: block;
  }
}

.big-zindex {
  position: relative;
  z-index: 999;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.svg-icon {
  width: 3.2rem;
  height: 3.2rem;
}