.article {
  padding: 1.35rem .5rem;
  width: 40.7rem;

  @media (max-width: $phone) {
    text-align: center;
    width: 100%;
  }

  & h3 {
    margin-top: 2.7rem;
  }

  & p {
    margin: 1.35rem auto;
  }
}