.carousel {
  position: relative;
  // border: 3px solid red;
  width: 100%;
  max-width: 144rem;
  height: 26.9rem;
  overflow: hidden;

  @media (max-width: $phone) {
    height: 24rem;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 14rem;
    height: 16.1rem;
    background: $grey-light;
    box-shadow: 10px 3px 30px white,
    10px -3px 15px white;
    opacity: .8;
    z-index: 1;

    @media (max-width: $tab-land) {
      width: 5rem;
      box-shadow: 10px 3px 30px white,
      10px -3px 15px white;
    }
    @media (max-width: $tab-port) {
      display: none;
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 14rem;
    height: 16.1rem;
    background: $grey-light;
    opacity: .8;
    box-shadow: -30px 3px 30px white,
    -30px -3px 15px white;
    z-index: 1;

    @media (max-width: $tab-land) {
      width: 5rem;
      box-shadow: -10px 3px 30px white,
      -10px -3px 15px white;
    }
    @media (max-width: $tab-port) {
      display: none;
    }
  }

  &__row {
    position: relative;
    // border: 3px solid green;
    min-height: 9.8rem;
  }

  & ul {
    position: relative;
    display: block;
    height: 16.1rem;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    /* remove white-space between inline-block'ed li */
    /* http://davidwalsh.name/remove-whitespace-inline-block */
    font-size: 0;
    transform: translateX(16rem);
    @media (max-width: $phone) {
      transform: translateX(1.8rem);
    }
  }

  & li {
    display: inline-block;
    position: relative;

    &:not(:last-child) {
      margin-right: 3.6rem;
    }
  }

  &__btn--left,
  &__btn--right {
    position: absolute;
    top: 6.5rem;
    z-index: 999;
    cursor: pointer;
  }

  &__btn--left {
    left: 3.5%;

    @media (max-width: $tab-port) {
      opacity: .5;
    }
  }

  &__btn--right {
    right: 3.5%;

    @media (max-width: $tab-port) {
      opacity: .5;
    }
  }

  &__indicators {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    min-height: 9.8rem;
    height: 9.8rem;
    overflow: auto;

    @media (max-width: $phone) {
      min-height: 7.4rem;
    }

    &__indicator {
      display: inline-block;
      width: 1.1rem;
      height: 1.1rem;
      border-radius: 11px;
      background: $grey-light-2--3;
      
      &:not(:last-child) {
        margin-right: 1.1rem;
      }

      &--current {
        background-color: $grey-light-4;
      }
    }
  }
}