.informer {
  position: relative;
  width: 36rem;
  height: 21.806rem;
  padding: 0 1.469rem 0 1.574rem;
  background: $grey-light;
  box-shadow: -2.20416rem 2.38785rem 4.89814rem rgba(0, 0, 0, 0.5);
  border-radius: .4rem;
  color: $grey;
  overflow: auto;

  @media (max-width: $tab-port) {
    width: 24.721rem;
    height: 14.958rem;
    box-shadow: -15.1278px 16.3884px 33.6173px rgba(0, 0, 0, 0.5);
  }

  &__date {
    color: $grey;
    font-size: 1.67833rem;
    font-weight: bold;
    line-height: 2.2rem;
    margin-top: 2.26rem;

    @media (max-width: $tab-port) {
      font-size: 1.15188rem;
      line-height: 1.5rem;
      margin-top: 1.87rem;
    }
  }

  &__teams {
    margin-top: 1.258rem;

    @media (max-width: $tab-port) {
      margin-top: .863rem;
    }

    & p.informer__team {
      font-weight: 500;
      line-height: 2.4rem;
      font-size: $font-size--medium;
      color: $dark;
      margin: 0;

      @media (max-width: $tab-port) {
        line-height: 1.6rem;
        font-size: 1.23539rem;
      }
    }

  }

  &__status {
    font-weight: normal;
    line-height: 2.1rem;
    font-size: $font-size;
    color: $dark;
    margin-top: 1.363rem;

    @media (max-width: $tab-port) {
      margin-top: .935rem;
      line-height: 1.4rem;
      font-size: 1.09812rem;
    }
  }

  &__img-holder {
    position: absolute;
    width: 8.387rem;
    height: 8.397rem;
    top: 4.613rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $tab-port) {
      width: 5rem;
      height: 5rem;
      top: 3rem;
    }

    & img {
      height: 100%;
    }

    &--1 {
      left: 20.257rem;
      z-index: 1;

      @media (max-width: $tab-port) {
        left: 15rem;
      }
    }
    &--2 {
      left: 26.134rem;
      z-index: 2;

      @media (max-width: $tab-port) {
        left: 19rem;
      }
    }
  }

  &__row {
    background-color: $grey-light-2;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4.927rem;
    padding: 1rem 2.624rem 1rem 1.574rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $tab-port) {
      height: 3.38rem;

      &__text {
        line-height: 1.7rem;
        font-size: 1.29587rem;
      }
    }
  }
}