.store-buttons {
  height: 4.7rem;
  width: 34.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__img-wrapper {
    display: inline-block;
    height: inherit;
    width: 15.605rem;

    @media (max-width: $phone) {
      &:first-child {
        margin-right: 2rem;
      }
    }
  }

  & img {
    display: block;
    width: 100%;
    height: 100%;
  }

  @media (max-width: $phone) {
    margin: auto;
    justify-content: center;
  }

  @media (max-width: $phone-small) {
    width: 100%;
    justify-content: space-between;

    &__img-wrapper {
      height: 4.4rem;
      width: 14.569rem;
    }
  }
}