.switch {
  position: relative;
  width: 2.729rem;
  height: 1.258rem;
  border-radius: 10rem;
  background-color: $grey-light-3;

  &__checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }

  &__knobs {
    z-index: 2;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -1px;
      width: 2.099rem;
      height: 2.097rem;
      background-color: $grey-light;
      border-radius: 50%;
      transition: 0.2s ease all;
      z-index: 2;
    }
  }

  &__checkbox:checked + &__knobs::before {
    left: 100%;
    transform: translate(-100%, -48%);
  }

  &__layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 10rem;
    transition: 0.3s ease all;
    z-index: 1;
  }

  &__checkbox:checked + &__knobs + &__layer {
    background-color: $color-main;
  }

}