// COLORS
$grey-light:  #FFFFFF;
$grey:        #4F4F4F;
$grey-darken: #333333;

$color-bg:       #E5E5E5;
$color-bg-second:#F4F6F9;
$color-bg-third: #FAFAFA;
$color-bg-fourth:#E5E5E5;
$color-main:     #00ADEE;
$color-second:   #5282F0;


// FONTS
$font-family--main: 'Lato', sans-serif;
$font-family--second: 'Montserrat', sans-serif;

$font-size--small:  1.4rem;
$font-size:         1.6rem;
$font-size--medium: 1.8rem;
$font-size--big:    2.4rem;
$font-size--bigger: 3.6rem;
$font-size--biggest: 4.8rem;

$font-size--h2:     2.8rem;


// GRID
/* Breakpoints
  0 - 600px:      Phone
  600 - 900px:    Tablet portrait
  900 - 1200px:   Tablet landscape
  [1200 - 1800]   is where our normal styles apply
  1800px + :      Bid desktop
*/
$phone: 37.5em; // 600px / 16px = 37.5em
$tab-port: 56.25em; // 900px / 16 = 56.25em
$tab-land: 75em;  // 1200px / 16 = 75em;
$big-desktop: 112.5em; // 1800px / 16 = 112.5

$gutter-vertical: 4rem;
$gutter-vertical-small: 2rem;
$gutter-vertical-none: 0;

$gutter-horizontal: 4rem;
$gutter-horizontal-small: 2rem;
$gutter-horizontal-none: 0;

// SPACES
$space: 16.2rem;
$space-medium: 8rem;
$space-small: 2rem;
